<!--
<form #myForm="ngForm">
  <h1>Willkommen, {{ name || 'Fremder' }}!</h1>
  <input type="text"    placeholder="Neuer Name" name="inputControl" [(ngModel)]="inputName"  (keyup.enter)="saveName()">
  <input [(ngModel)]="filterText" placeholder="Filter (z. B. 'a')" />
   <button (click)="saveName()">Speichern</button>
  <p>Aktueller Name: {{ name }}</p>
  <ul>
    <li *ngFor="let pastName of filteredNames; let i = index">
      {{ pastName }}
      <button (click)="removeName(i)">Löschen</button>
      <button (click)="replaceName(i, 'Ersatz')">Ersetzen</button>
    </li>
  </ul>
</form>-->
<input [(ngModel)]="inputName" (keyup.enter)="saveName()" placeholder="Neuer Name" />
<button (click)="saveName()">Speichern</button>
<p>Aktueller Name: {{ name }}</p>
<input [(ngModel)]="filterText" placeholder="Filter (z. B. 'a')" />
<button (click)="sortNames()">Sortieren</button>
<ul>
  <li *ngFor="let pastName of filteredNames; let i = index">
    {{ pastName }}
    <button (click)="removeName(i)">Löschen</button>
    <button (click)="replaceName(i, 'Ersatz')">Ersetzen</button>
  </li>
</ul>

 