<!-- <app-welcome></app-welcome>  -->
 
<<form #myForm="ngForm">
  <input [(ngModel)]="iban" name="iban" required pattern="[A-Z]{2}[0-9]{4}" #ibanCtrl="ngModel" />
  <p>{{ ibanCtrl.value }} | {{ ibanCtrl.valid ? 'OK' : 'Fehler' }}</p>
</form>
<!--
<form #myForm="ngForm">
  <input [(ngModel)]="name" name="name" required #nameInput="ngModel" />
  <span *ngIf="nameInput.invalid">Ungültig</span>
</form>



<h1>Willkommen, {{ name || 'Fremder' }}!</h1>
<input type="text" placeholder="Dein Name" [(ngModel)]="inputName" (keyup.enter)="saveName()">
<button  type="button" (click)="toUpperCase()" >To Upper Case</button>
<p>Aktueller Name: {{ name }}</p>
<ul>
  <li *ngFor="let pastName of names">{{ pastName }}</li>

</ul>
 
<input type="text" [ngModel]="name" (ngModelChange)="setNameToUpperCase($event.toUpperCase())" >




-->